BatteryStatus.ps1
*.lnk
*.txt
*.pdf
*.url
*.xml
*.xlsx
*.lis
check_missing_backups.cmd
configuration_export.cmd
count_incremental_backups.cmd
deleted_backup_files.cmd
find_deletion.cmd
get_last_backup.cmd
list_backups.cmd
list_backups.ps1
list_backups_simple.cmd
restart_veeam.cmd
veeam_backup.ini
veeam_backup.log
